@media (min-width: 1200px) {
.sf-menu > .kt-lgmenu > ul, .sf-menu > li.kt-lgmenu:hover > ul,
.sf-menu > li.kt-lgmenu.sfHover > ul {
	width:1140px;
}
}
@media only screen and (device-width: 768px) {
  .panel-row-style-wide-parallax, .kt-panel-row-parallax {
			background-attachment: scroll!important;
			background-position: center!important;
		}
}
@media (max-width: 992px) {
    body:after {
        content: 'tablet';
        display: none;
        }
    #nav-main ul.sf-menu, .nav-main ul.sf-menu {
    	display: none;
    }
    #nav-second ul.sf-menu {
    	display: none;
    }
	#kad-mobile-nav {
	display: block;
	height: auto;
	}
	#mobile-nav-trigger {
	display: block;
	height: auto;
	}
	.kad-header-style-three .kad-nav-three {
		height: auto;
		display: block;
	}
    header #nav-main, header .nav-main  {
		margin: 0;
    }
    .panel-row-style-wide-parallax, .kt-panel-row-parallax {
		background-attachment: scroll!important;
		background-position: center!important;
		}
    .stickyheader #kad-banner-sticky-wrapper,  .stickyheader #kad-banner-sticky-wrapper #kad-banner {
    	height: auto !important;
    }
    .mobile-stickyheader.kad-header-style-three .kad-nav-collapse {
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
	}
	#topcontrol {
		display: none !important;
	}
	.shopcolumn2.shopfullwidth .product_item, .shopcolumn2.shopfullwidth .product_item .product_details {
	    	text-align: center;
	    }
	    .shopcolumn2.shopfullwidth .product_item .kad_add_to_cart {
	    	display: block;
	    }
	    .shopcolumn2.shopfullwidth .product_item a.product_item_link img {
	    	float: none;
			display: block;
			margin-right: auto;
			max-width: 100%;
	    }
	    .shopcolumn2.shopfullwidth .product_item .product_details .product_excerpt {
		  display: block;
		  margin-left: 0;
		}
		.shopcolumn2.shopfullwidth .product_item .kad_add_to_cart, .shopcolumn2.shopfullwidth .product_item .product_price {
		  margin-left: 0;
		}
		.footercol3 {
	    clear: left;
		}
		.home_blog .imghoverclass img {
			margin: 0 auto;
		}
			.home_blog_title {
			margin-top: 20px;
			margin-bottom: 10px;
			margin-left: 15px;
			}
			.home_blog article .entry-content {
			margin-right: 15px;
			margin-left: 15px;
			}
			.home_blog article {
			margin-bottom: 30px;
		}
	}
@media (max-width: 767px) {
    body:after {
        content: 'phone';
        display: none;
        }
    body {
    	padding: 0;
    }
    //filter
    #options {
		text-align: center;
		padding-right: 0;
		padding-bottom:20px;
	}
	#filters {
		height: 0px;
		overflow: hidden;
		padding: 0 15px;
		margin: 0;
		float: none;
		background: rgba(0,0,0,0.01);
	}
	#filters li {
	float: none;
	margin-left: 0;
	margin-bottom: 2px;
	}
	#filters li a.selected, #filters li a:hover {
	border-color: transparent;
	background: #eee;
	background: rgba(0,0,0,0.04);
	}
	.filter-trigger {
		cursor: pointer;
		display: block;
		padding: 10px 0;
		color: #444;
		background: rgba(0,0,0,0.01);
	}
	.filter-trigger:hover {
		background: rgba(0,0,0,0.03);
		color: #444;
	}
	.mobile-stickyheader .nav-trigger-case .kad-menu-name {display:none;}
	#topbar .kad-topbar-left, #topbar .kad-topbar-left .topbarmenu {float:none;}
    header #thelogo {
		margin-left: auto;
		margin-right: auto;
		}
		header #logo {
			text-align: center;
		}
		#kad-banner #logo .kad-retina-logo {
			margin: 0 auto;
		}
		.pcside {
			margin-top: 20px;
		}
		.nav-trigger .nav-trigger-case {
			position: static;
			display: block;
			width: 100%;
		}
	    .container {
	    	width: auto;
	    	padding: 0 20px; 
	    }
		
    	.boxed #wrapper.container {
		padding: 0 20px;
		}
		.belowlogo-text {
			text-align: center;
			padding-left: 0;
			}
		
		.infobanner {
			margin: 15px auto;
			}
		.footernav {
			float: none;
		}
		.footernav ul {
		float: none;
		}
		//Blog 
		.postlist .col-md-7 .entry-content {
			padding: 15px 20px;
		}
		.postlist .col-md-7 header  {
			padding: 15px 20px 0;
		} 
		.postlist .col-md-7 footer {
			padding-left: 15px;
			}
		.postlist .col-md-5 img {
			margin: 0 auto;
		}
		//Cart 
		.shop_table .product-remove {
			display: none;
		}
		table.shop_table td {
			padding: 6px 6px;
		}
		table.shop_table th {
		padding: 9px 6px;
		}
		table.shop_table input.update-cart-btn, table.shop_table input.checkout-button  {
			margin-bottom: 10px;
		}
		#topbar-search form {
			margin: 4px auto;
			float: none;
		}
		.home-iconmenu {
			margin-bottom: 10px;
		}
		// One Column Shop Page // 
		.shopcolumn1 .product_item, .shopcolumn1 .product_item .product_details {
	    	text-align: center;
	    }
	    .shopcolumn1 .product_item .kad_add_to_cart {
	    	display: block;
	    }
	    .shopcolumn1 .product_item a.product_item_link img {
	    	float: none;
			display: block;
			margin-right: auto;
	    }
	    .shopcolumn1 .product_item .product_details .product_excerpt {
		  display: block;
		  margin-left: 0;
		}
		.shopcolumn1 .product_item .kad_add_to_cart, .shopcolumn1 .product_item .product_price {
		  margin-left: 0;
		}
		.kad-header-style-three #thelogo img {
		margin: 12px auto;
		padding:0;
		}
		.kad-header-style-three #logo #thelogo {
			text-align: center;
		}
		.mobile-stickyheader.kad-header-style-three #thelogo img {
			padding: 5px 0;
			margin: 0;
		}
		.mobile-stickyheader.kad-header-style-three #logo #thelogo {
		display: table-cell;
		text-align: left;
		}
		.mobile-stickyheader.kad-header-style-three #logo {
			text-align: left;
		}
		.mobile-stickyheader #kad-mobile-nav {
			margin-top: 0px;
			}
		div.product .woocommerce-tabs ul.tabs li {
			padding: 0 10px;
		}
		.panel-row-style-wide-feature, .panel-row-style-wide-grey {
		  margin: 0 -15px;
		  padding: 25px 15px;
		}
		.captiontitle {font-size: 20px;}
		.captiontext p {font-size: 14px;}
	}
@media (max-width: 479px) {
    body:after {
        content: 'small-phone';
        display: none;
        }
        .kad-nav-inner .kad-mnav {padding: 10px;}

		.shop_table .product-thumbnail {
			display: none;
		}
		table.cart td.actions .coupon {
		float: none;
		margin: 10px auto;
		}
		table.cart td.actions .coupon input.button {
		width: 45%;
		text-align: center;
		padding-left:0;
		padding-right: 0;
		}
		#content table.cart td.actions {
			text-align: center;
			}
			table.cart td.actions .coupon .input-text {
			float: none;
			width: 45%;
			}
			table.cart input {
			margin-top: 0px;
		}
		table.shop_table td {
		    padding: 6px 0;
		}
		table.shop_table th {
		    padding: 9px 0px;
		    font-size: 12px;
		}
		table.shop_table {
		    font-size: 12px;
		}
		table.cart td.actions .checkout-button, table.cart td.actions input.button[type="submit"] {
		    display: inline-block;
		    padding: 10px 8px;
		    font-size: 12px;
		}
		.woocommerce-ordering {
			margin: 18px 0 10px;
			float: none;
			width: 100%;
			}
			.customSelect {
				width: 100%;
			}
			div.product .woocommerce-tabs ul.tabs li {
				font-size: 11px;
				width: 49%;
				text-align: center;
				padding: 0;
				margin: 0 0 5px;
			}
			div.product .woocommerce-tabs ul.tabs li a {
			display: block;
			}
			div.product .woocommerce-tabs ul.tabs {
				padding: 0;
			}
		table.cart td.actions .checkout-button {
		float: none;
	}
}