/*
Theme Name:         Virtue - Premium - Child
Theme URI:          http://www.kadencethemes.com/product/virtue-premium-theme/
Description:        The Virtue theme is extremely versatile with tons of options, easy to customize and loaded with great features. The clean modern design is built with html5 and css3 and uses the powerful responsive framework fro Bootstrap to be a fully responsive and mobile friendly. It's fully ecommerce (Woocommerce) ready with all the tools you need to design an awesome online store. The versatile design is perfect for any kind of business, online store, portfolio or personal site. We built Virtue with a powerful options panel where you can set things like your home layout, sliders, custom fonts, and completely customize your look without writing any CSS. You are going to love how easy this theme is to work with.  Virtue was built and designed by <a href="http://kadencethemes.com/">Kadence Themes</a>.
Version:            2.7.6
Author:             Kadence Themes and Child Theme by Imajine LLC
Template:           virtue_premium
Author URI:         http://www.imajine.us
Tags: 				flexible-width, two-columns, one-column, custom-colors, custom-header, custom-menu, featured-images, translation-ready, theme-options, photoblogging

License: GPL
License URI: http://www.gnu.org/copyleft/gpl.html
*/

.kad-standard-logo, .kad-retina-logo{
  max-height:150px;
}
/*  ------------------- HOME PAGE ---------------------- */
.home-page-wrapper{

}

div.marketing-landing-page-wrapper .row{
  padding:25px 0px 15px 0px;
}

#wpcf7-f31-p15-o1  input[type="checkbox"]{
  visibility:inherit !important;
}

#footer-google-map iframe{
  border: 1px solid #ccc;
  min-height: 250px;
  width: 100%;
}

div.marketing-landing-page-wrapper .header-align-top{
  margin-top:0px;
}

div.sliderclass{
  margin-top:45px;
}
.home-page-wrapper .home-service-icon{
  width:60px;
  height:auto;
}
.home-page-wrapper .service-box{
  padding:25px;
}
div.img-bg{
  background-size: cover !important;
  background-position: center center !important;
  width: 100%;
  min-height: 375px;
  border-radius:2px;
}
#nsf{
  background:url("https://salbertglass.com/wp-content/uploads/NSFIMG_2445-960x600.jpg") no-repeat;
}
#neustar{
  background:url("https://salbertglass.com/wp-content/uploads/7Targus-Neustar.jpg") no-repeat;
}

#ng{
  background:url("https://salbertglass.com/wp-content/uploads/18RussianLounge.jpg") no-repeat;
}
#ba{
  background:url("https://salbertglass.com/wp-content/uploads/4British-Airways-1.jpg") no-repeat;
}

.home-page-section{
  margin-bottom:40px;
}


#mobile-nav-trigger{
  margin-top:40px;
}

@media (max-width: 992px) {
  .kad-standard-logo, .kad-retina-logo{
    max-height:100px;
  }
}

.file-icon{
  width:50px;
}

.center{
  text-align:center;
}

.red{
  color:#f7281b;
}

h4.header-small{
  font-size:20px;
}

.img-with-headers h4,h5,h3{
  margin-top:0px;
  margin-bottom:2px;
}
.img-with-headers ul{
  padding-left:20px;
  list-style-type:circle;
}

.nav-tabs>li>a {
    font-size: 25px;
}

.wpcf7 input {
  max-width:100%;
}
span.wpcf7-list-item {
  display: block;
}

#addsagjob .nav-tabs>li>a {
  font-size:18px;
}

.cta{
  margin-top:45px;
}
.cta h1,h2,h3,h4{
  margin-bottom:20px;
  margin-top:20px;
}

.topbar_social i{
  font-size:26px;
}
#nav-main ul.sf-menu a, .nav-main ul.sf-menu a{
  font-size:16px;
}
.sf-menu a{
  padding:10px 15px;
}
img.contact-header-icon{
  width:25px;
  height:auto;
}
h1.no-margin, h2.no-margin,h3.no-margin, h4.no-margin, h5.no-margin{
  margin:0px;
}

.topbar_social  ul li a {
  color: #fff;
  display: block;
  padding: 0px;
  font-size: 12px;
  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  margin: 5px 0px;
  padding: 0px 10px 0px 0px;
}

#topbar h1, #topbar h2, #topbar h3, #topbar h4, #topbar h5{
  color:white;
}

#topbar .contact-header{
  display:inline-block;
}
#topbar .small-text{
  font-size:12px;
  font-style:italic;
}
.header-contact-item-wrapper{
  padding-bottom:5px;
}


/* PHOTO GALLERY */

.black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}
.black-overlay-light{
  background: rgba(0, 0, 0, 0.25);
}
.black-overlay-dark{
  background: rgba(0, 0, 0, 0.55);
}

/*----------------------------------------------------------------- */
/*------------------MARKETING LANDING PAGES ----------------------- */
/*----------------------------------------------------------------- */

.marketing-landing-page-wrapper h4{
  font-size:22px;
}
.landing-page-icon{
  width:28px;
  height:auto;
  padding-right:5px;
}
input.wpcf7-form-control.wpcf7-submit{
  background-color: #f7281b;
  color: #ffffff;
  border-radius: 3px;
  padding: 14px 22px;
  font-size: 16px;
}
.kad-btn{
  border-radius:3px;
}
.kad-phone-btn-wrapper a, .kad-phone-btn-wrapper button{
  padding: 14px 40px;
}
#kadbreadcrumbs{
  display:none;
}
.page-header{
  text-align:center;
}
.page-header h1, .page-header h2, .page-header h3,.page-header h4{
  color:#f7281b;
}

.gallery-link-wrapper{
  position:relative;
}
.visit-link-text{
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  width: 100%;
  height: 100%;
  top: 0% ;
  position: absolute;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.visit-gallery{
  position:relative;
  top:40%;
}
.visit-link-text:hover{
  opacity:1;
}

.gallery-thumb-title{
  text-align: center;
    margin-bottom: 5px;
    margin-top: 25px;
}
.gallery-thumb-category{
  color:#F7261B;
  text-align:center;
  margin-top: 5px;
}
.gallery-thumb-img-wrapper:after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, .45);
}

.gallery-link-wrapper img{
  height:350px;
  width:100% !important;
}
.mobile-break{
  display:none;
}


#thelogo img.kad-retina-logo{
  max-height:150px !important;
}
.banner-header{
  color:white;
  padding: 0px 25px;
  margin-top: 5px;
}

div.banner{
  position:relative;
}
#emergency-service-banner{
  background:url('https://s3.amazonaws.com/sag-website-assets/crackedGlass.jpg');
  background-position:center;
  background-size:cover;
  height:400px;
}

ul.bullet-list li{
  list-style-type: disc;
}
ul.bullet-list-circle li{
  list-style-type:circle;
}

@media only screen and (max-width: 690px) {
  .address-holder h5{
    text-align:center !important;
  }
  .header-contact-item-wrapper{
    text-align:center !important;
  }
  .topbar_social{
    width:100%;
  }
  .topbar_social ul{
    width:100%;
  }
  .topbar_social ul li{
    width:50%;
  }
  .topbar_social ul li:first-child{
    text-align:right;
  }
  .visit-link-text{
    opacity:1;
  }
  .visit-gallery{
    opacity:1;
  }

  .mobile-break{
    display:block;
  }

  #thelogo img.kad-retina-logo{
    max-height:125px !important;
  }
}

@media (max-width: 768px) {
  .service-box h2{
    min-height: 90px;
  }
  div.marketing-landing-page-wrapper .header-align-top{
    margin-top:25px;
  }
  div.marketing-landing-page-wrapper h1{
    font-size: 25px;
    font-weight: 700;
  }
  #quick-contact-form{
    text-align:center;
  }
  div.sliderclass{
    margin-top:45px;
  }
}

@media (max-width: 767px) {
  .home-page-wrapper .service-box{
    padding:25px;
    border:1px solid #ddd;
    margin-bottom:25px;
  }
  div.img-bg{
    margin-bottom:40px;
  }


}

.all-jobs{margin-top:15px;}